#Port for server to run on. Once set, go to react proxy and change it to port number.
PORT =
cookieName =
cookieSecret =
dbUser =
dbDatabase =
dbHost =
dbPort =
dbPassword =
#Food Data Central API Key
apiKey =
# Boolean
production =
